<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head">
</head>
<body class="sb-sidenav-toggled">
    <div class="d-flex" id="wrapper">
        <div th:replace="fragments/sidenav"></div>
        <div class="form-body">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <button class="btn btn-primary" id="sidebarToggle">Menu</button>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="text-light">Template List</h1>
                    </div>
                    <div class="col col-auto">
                        <a class="btn btn-primary" href="/template_form">New Template</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <ul class="list-group" th:each="page : ${pages_data}">
                        <li class="list-group-item">
                            <h5 th:text="${page.templateIdentifier}" class="text-bold"></h5>
                            <p th:text="${page.templateName}"></p>
                            <p th:text="${page.templateContext}"></p>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="Page navigation" th:if="${pages.totalPages > 0}">
                        <ul class="pagination justify-content-md-center">
                            <li class="page-item">
                                <a th:href="@{/template_list(size=${pageSize},page=1)}" th:classappend="${pages.number == 0 ? 'disabled' : ''}" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true"><</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item" th:each="pageNo: ${#numbers.sequence(1, pages.totalPages)}">
                                <a class="page-item page-link" th:classappend="${list_halaman==pages.totalPages+1 ? 'active' : ''}" th:href="@{/template_list(size=${pageSize}, page=${pageNo})}" th:text="${pageNo}"></a>
                            </li>

                            <li class="page-item">
                                <a th:href="@{/template_list(size=${pageSize},page=${pages.totalPages})}" th:classappend="${pages.number == pages.totalPages ? 'disabled' : ''}" class="page-link" aria-label="Previous">
                                    <span class="sr-only">Next</span>
                                    <span aria-hidden="true">></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/htmlscript"/>
</body>
</html>